body {
  font-family: 'Open Sans',sans-serif;
}

#header .middle-left {
  background: #15212A;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header .middle-left .news {
  background: #EE5586;
  color: #fff;
}

#header .middle-left p {
  color: #BCBCBC;
}

#header .middle-left p a {
  color: #BAA30B;
  font-size: 15px;
}

#header .middle-left i {
  color: #BAA30B;
  border-radius: 5px;
}

#header .middle-right {
  width: 100;
  margin: auto;
}

#header .middle-right li {
  font-size: 12px;
  cursor: pointer;
}

#header .middle-right li a {
  margin: 10px;
  color: #BCBCBC;
}

#header #main {
  background: url(http://inebur.com/antler/template/img/topbanner08.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#header #main .color-overlay {
  width: 100%;
  height: 100vh;
  background: linear-gradient(240deg, #000 50%, #3f004a 100%);
  background-size: cover;
  opacity: .7;
  position: absolute;
}

#header #main .menu-wrap {
  padding-top: 30px;
}

#header #main .menu-right {
  width: 100%;
  margin-left: 20px;
}

#header #main .menu-right .area {
  background: #FDD700;
  padding: 10px 20px;
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  border: 1px solid #FDD700;
  border-radius: 50px;
}

#header #main .menu-right .dropmenu {
  list-style: none;
  position: relative;
}

#header #main .menu-right .dropdown {
  position: absolute;
  top: 100%;
  width: 200px;
  right: 0;
  color: #BCBCBC;
  list-style: none;
  display: none;
}

#header #main .menu-ul .badge {
  background: #A5215E;
  color: #fff;
}

#header #main .menu-ul li {
  padding-left: 15px;
}

#header #main .menu-ul li:hover .dropdown {
  display: block;
  background: #fff;
  color: #000;
}

#header #main .menu-ul li a {
  font: 15px;
  color: #fff;
}

#about {
  padding-top: 100px;
}

#about .words {
  color: #fff;
  width: 100%;
}

#about .words .sucsess {
  margin: auto;
}

#about .words .sucsess .icons {
  position: relative;
  top: 25px;
  right: 25px;
  color: #EE5586;
}

#about .clients {
  width: 100%;
  border-radius: 15px;
}

#about .clients .top-content {
  padding: 40px 60px;
  background: #fff;
  width: 100%;
}

#about .clients .top-content .svg {
  width: 60px;
  height: 60px;
}

#about .clients .top-content .tittle {
  color: #F07099;
}

#about .clients .top-content .fromer {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 26px;
  font-size: 14px;
  color: grey;
}

#circules {
  background: #EFEFEF;
}

#circules .team-words {
  margin-bottom: 50px;
  margin-top: 50px;
}

#circules .team-words p {
  color: #ABABAB;
}

#circules .team-box {
  background: #fff;
}

#circules .wrapper .img-sections {
  background: #fff;
  border-radius: 20px;
}

#circules .wrapper .team-info {
  position: relative;
  padding: 40px 60px;
  padding-bottom: 80px;
}

#circules .wrapper .team-info .name {
  font-size: 15px;
}

#circules .wrapper .team-info .desc {
  color: #ABABAB;
}

#circules .wrapper .team-info .desc:hover {
  color: #F79DB9;
}

#circules .wrapper .team-info .contact {
  padding: 12px 30px;
  border-radius: 50px;
  border: 1px solid #fdd700;
  background: #fdd700;
  -webkit-box-shadow: 0 2px 8px 0 rgba(62, 62, 79, 0.23);
          box-shadow: 0 2px 8px 0 rgba(62, 62, 79, 0.23);
  color: #000;
  font-size: 14px;
  font-family: "Open Sans Semibold";
  font-weight: 100;
  position: relative;
  top: 30px;
  bottom: 30px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  cursor: pointer;
}

#circules .wrapper .team-info .contact:hover {
  background: #808080;
  border: 1px solid #808080;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: .4s;
  transition: .4s;
  color: #fff;
}

#circules .wrapper .team-info .plans {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #EE5586;
  color: #fff;
}

#circules .wrapper .svg {
  width: 100%;
  margin-bottom: 30px;
}

.nicat {
  background: #16212A;
  width: 100%;
  height: 100vh;
  position: relative;
}

.nicat .photo-svg {
  opacity: .3;
  width: 450px;
  position: absolute;
  top: 38%;
  left: 38%;
}
/*# sourceMappingURL=style.css.map */