body{
    font-family: 'Open Sans',sans-serif;
}   
@import "_mainnav";
 
#about{
    background:url(../photo/backimg.jpg);
    padding-top: 100px;
    width: 100%;  
    height: 62vh;  
    position: relative;
    .color-overlay{
        background: linear-gradient(240deg,#000 50%,#3f004a 100%);
        width: 100%;
        height: 62vh;
        opacity: .7;
        position: absolute;
        top: 0;
    }
    .words{
        color: #fff;
        width: 100%;
        position: relative;
        bottom: 55px;
        left: 20px;
        .about-us{
            position: relative;
            right: 25px;
        }
        h1{
         font-size: 52px;
         padding-bottom: 15px;
        }
        p{
            margin-bottom: -5px;
        }
        .sucsess{
            margin: auto;
            .icons{
                position: relative;
                top: 25px;
                right: 25px;
                color: #EE5586;
            }
        }
    }
    .clients{
        width: 100%;
        border-radius: 15px;
        .top-content{
            padding: 40px 60px;
            background: #fff;
            border-radius: 15px;
            width: 100%;
                .svg{
                    width: 60px;
                    height: 60px;
                    position: relative;
                    right: 25px;
                }
            .tittle{
                color: #F06B96;
                font-size: 22px;
                font-weight: 500    ;
                padding-bottom: 15px;
            }
            .fromer{
                // font-family:"Open Sans Italic";
                line-height: 26px;
                font-size: 14px;
                color: grey;
            }
        }
    }
}
// --------//

// Circules Start //
#circules{
    background: #EFEFEF;
    padding-bottom: 80px;
    .team-words{
        margin-bottom:50px;
        margin-top:50px;
        p{
            color:#ABABAB;
        }
    }
    .team-box{
        background: #fff;
    }
    .wrapper{
            i{
                padding: 10px;
                border-radius: 15px;
                border: 1px solid #808080;
                width: 35px;
                background: #808080;
            
            }
        }
        .img-sections{
            background:#fff;
            border-radius: 20px;
        }
        .team-info{
            position: relative;
            padding: 40px 60px;
            padding-bottom: 80px;
            .name{
                font-size: 15px;
            }
            .desc{
            color:#ABABAB;
             &:hover{
              color: #F79DB9;
            }
            }
            .contact{
                padding: 12px 30px;
                border-radius: 50px;
                border: 1px solid #fdd700;
                background:#fdd700;
                box-shadow: 0 2px 8px 0 rgba(62,62,79,.23);
                color: #000;
                font-size: 14px;
                font-family: "Open Sans Semibold";
                font-weight: 100;
                position: relative;
                top: 30px;
                bottom: 30px; 
                transform: translateY(0); 
                transition: .3s linear;
                cursor: pointer;
                &:hover{
                    background:#808080;
                    border: 1px solid #808080;
                    transform: translateY(-5px);
                    transition: .4s;
                    color: #fff ;
                }
            }
            .plans{
                position: absolute;
                top:12px;
                right:12px;
                background:#EE5586;
                color: #fff;
            }
        }
        .svg{
            width: 100%;
            margin-bottom: 30px;
            
        }
    }


//------- Circules End -------//

// ------Map Start --------//
#Map{
    background: linear-gradient(-60deg,#3a6173 0,#16222a 100%)!important;
    width: 100%;
    height: 100vh;
    .map-words{
         padding-top:60px;
    
    h2{
        color: #fff;
    }
    p{
        color:#ABABAB;
        span{
            color: #EE5586;
        }
      a{
        color: #EE5586;
        border-bottom: solid 1px #ee5586;
        &:hover{
            border-bottom:none;
            text-decoration: none;
        }
      }  
    }
 }
 .service-map{
     .map-img{
         position: relative;
         img{
             opacity:0.43;
         }
         .location{
            background: #EE5586;
            width: 22px;
            height: 22px;
            border-radius: 24px;
            border: 2px solid #fff;
            position: absolute;
            &.montreal{
                top: 38%;
                left: 28.5%;
            }
            &.newyork{
                top: 44%;
                left: 27%;
            }
            &.portugal{
                top: 46%;
                left: 44%;
            }
            &.london{
                top: 38%;
                left: 46%;
            }
            &.moskow{
                top: 38%;
                left: 58%;
            }
            &.hongkong{
                top:53%;
                left:79%;
            }
            &.singapure{
                top: 63%;
                left: 77%;
            }
        }
     }
   
 }
}
// -------Map End-------//

#case-study{
    position: relative;
    .case-word{
        background: #A5215E;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .case{
        background: #EE5586;
        position: relative; 
        bottom: 80px;
        border-radius: 15px;
        img{
            width: 100%;
            opacity: .5;

        }
    }
}



// -----maneger -------//
#manager{
    width: 100%;
    height: 100vh;
    .row{
        display: flex;
    }
    position: relative;
    .manager-text{
        p{
            color:#ABABAB;
        }
    }
    .sales{
         text-align: right;
    
    button{ 
        background:#EE5586;
        color: #ffff;
        font-size: 14px;
            // width: 50%;
        padding: 10px 25px;
       
        border-radius: 20px;
        border: 1px solid#EE5586;
        transform: translateY(0);
        transition: .5s;
        &:hover{
            background:#808080;
            border: 1px solid #808080;
            color: #fff;      
            transform: translateY(-5px);
            transition: .5s;
            box-shadow:0 5px 10px 0 rgba(0,0,0,.3);
        }

    }
}
}